.row.event-block
  .col-xs-3.user-info-block.event-user-block
    = render 'onlines/user_block', user: online.user
  .col-xs-9.last-messages-block
    %h4= link_to online.title, app_online_path(online)
    %p.small.online-desc= online.description
    %h6.last-messages-header Последине сообщения
    - online.messages.last(3).each do |message|
      = render "messages/single_message", message: message