= simple_form_for message, url: my_messages_path, html: {role: 'message-form'} do |f|
  = f.input :user_id, as: :hidden
  = f.input :online_id, as: :hidden
  = f.input :body, input_html: {role: 'message-body'}
  %p{role: 'message-body-errors'}
  %a.btn{role: "submit-message"} Отправить