@charset "UTF-8"

// @import select2
// @import mixins
@import bootstrap

// @import jquery.ui.core

@import base
@import footer

body
  padding-top: 60px

.round-avatar
  border-radius: 100px

.user-info-block
  text-align: center
  .full_name
    margin-bottom: 0px

.event-user-block
  margin-top: 20px

.event-block
  margin-top: 40px

.profile-header
  margin-bottom: 25px

.new_message-form
  margin: 25px 0

.messages-bock
  margin-top: 65px

.message-item
  margin-bottom: 20px

.plain-online-block
  margin-bottom: 50px

.last-messages-header
  margin-top: 17px

.last-messages-block
  p
    margin-bottom: 5px

.user-desc
  bottom: 11px
  position: relative

.online-desc
  margin-top: -7px

.index__event-pic
  max-width: 100%

.index__photos
  margin-top: 100px

.index__photos-item
  display: inline-block
  width: 200px
  img
    float: left